astroid==2.4.2
autoflake==1.3.1
autopep8==1.5.4
coverage==5.2.1
invoke==1.4.1
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
nose==1.3.7
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.5.3
six==1.15.0
toml==0.10.1
wrapt==1.12.1
